AI_IMAGE={Docker-Hub-Name}/{Image-Name}

# ================ live ====================
SPEECHMATICS_API_KEY={SPEECHMATICS_API_KEY}

# =================== analysis ===================
OPENROUTER_API_KEY={OPENROUTER_API_KEY}
MODAL_TOKEN_ID={MODAL_TOKEN_ID}
MODAL_TOKEN_SECRET={MODAL_TOKEN_SECRET}

# ==================== image tag ====================
AI_IMAGE_TAG={Image-Tag}
