AI_IMAGE={Docker-Hub-Name}/{Image-Name}

# ================ live ====================
SPEECHMATICS_API_KEY={SPEECHMATICS_API_KEY}
MEETY_SENTRY_DSN={MEETY_SENTRY_DSN}

# =================== analysis ===================
OPENROUTER_API_KEY={OPENROUTER_API_KEY}
MODAL_TOKEN_ID={MODAL_TOKEN_ID}
MODAL_TOKEN_SECRET={MODAL_TOKEN_SECRET}
LANGSMITH_TRACING={LANGSMITH_TRACING}
LANGSMITH_API_KEY={LANGSMITH_API_KEY}
LANGSMITH_PROJECT={LANGSMITH_PROJECT}
LANGSMITH_ENDPOINT={LANGSMITH_ENDPOINT}
MEETY_SENTRY_DSN={MEETY_SENTRY_DSN}

# ==================== image tag ====================
AI_IMAGE_TAG={Image-Tag}
