# 이미지 태그 (CI/CD가 관리)
AI_IMAGE_TAG={Image-Tag}

# 실시간 음성 인식
SPEECHMATICS_API_KEY={SPEECHMATICS_API_KEY}

# 분석 및 추적
OPENROUTER_API_KEY={OPENROUTER_API_KEY}
MODAL_TOKEN_ID={MODAL_TOKEN_ID}
MODAL_TOKEN_SECRET={MODAL_TOKEN_SECRET}
LANGSMITH_API_KEY={LANGSMITH_API_KEY}
LANGSMITH_PROJECT={LANGSMITH_PROJECT}
LANGSMITH_ENDPOINT={LANGSMITH_ENDPOINT}

# 오류 수집
MEETY_SENTRY_DSN={MEETY_SENTRY_DSN}
